{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light nav_link">
	<div class="header_nav">
		{% if app.user %}
		<a class="nav-link title_site" href="{{ path('main') }}">Link'Z</a>
		{% else %}
		<a class="nav-link title_site" href="{{ path('login') }}">Link'Z</a>
		{% endif %}
		<button class="button_nav_brg" type="button" onClick="openMenu()" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
	<!---collapse navbar-collapse-->
	<div class="nav-deux-ctn" id="navbarNav">
		<button class="burger_menu_close"onClick="closeMenu()" >X</button>
		<ul class="navbar_nav_rgt">
			{% if app.user %}
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('logout') }}">Deconnection</a>
				</li>
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('appearance', {pseudo: app.user.pseudo}) }}">Appearance</a>
				</li>
			{% else %}
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('app_register') }}">Account creation</a>
				</li>
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('login') }}">Login</a>
				</li>
			{% endif %}
			<li class="nav_item_rgt">
				{% if app.user %}
					<a class="nav_a_ctn" href="{{ path('show', {pseudo: app.user.pseudo}) }}">Profile</a>
				{% else %}
					<a class="nav_a_ctn" href="{{ path('login') }}">Profile</a>
				{% endif %}
			</li>
		</ul>
	</div>
</nav>
