{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/style.css') }}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light nav_link">
	<div class="header_nav">
		<a class="nav-link title_site" href="{{ path('main') }}"><img src="{{ asset('assets/images/logo/logo.PNG') }}" alt=""></a>
		<div class="button_nav_brg">
			<span class=""></span>
		</div>
	</div>
	<!---collapse navbar-collapse-->
	<div class="nav-deux-ctn" id="navbarNav">
		<ul class="navbar_nav_rgt">
			{% if app.user %}
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('logout') }}">Deconnection</a>
				</li>
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('appearance', {pseudo: app.user.pseudo}) }}">Appearance</a>
				</li>
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('usersubscribe', {pseudo: app.user.pseudo}) }}">Settings</a>
				</li>
			{% else %}
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('app_register') }}">Account creation</a>
				</li>
				<li class="nav_item_rgt">
					<a class="nav_a" href="{{ path('login') }}">Login</a>
				</li>
			{% endif %}
			<li class="nav_item_rgt">
				{% if app.user %}
					<a class="nav_a_ctn" href="{{ path('show', {pseudo: app.user.pseudo}) }}">Profile</a>
				{% else %}
					<a class="nav_a_ctn" href="{{ path('login') }}">Profile</a>
				{% endif %}
			</li>
		</ul>
	</div>
</nav>
