{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
<div class="login_wdt">
	<form method="post" class="post_login">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				You are logged in as
				{{ app.user.userIdentifier }},
				<a href="{{ path('logout') }}">Logout</a>
			</div>
		{% endif %}

		<div class="register_h_ctn">
			<h1 class="login_singin">Please sign in</h1>
		</div>
		<div class="register_ctn">
			<div class="form_register_login">
				<div>
					<label for="inputId">Pseudo</label>
					<input type="text" value="{{ last_username }}" name="pseudo" id="pseudo" class="form-control" autocomplete="pseudo" required autofocus>
				</div>
				<div>
					<label for="inputPassword">Password</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
				</div>
				
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<button class="sbt_login" type="submit">
					Sign in >
				</button>
			</div>
		</div>

		<div class="login_p_ctn">
			<p>Create an account?<span class="span_red_color"> Create it</span></p>
		</div>
	</form>
</div>
	
{% endblock %}
