{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
    <div class="div_container">
        <h2 class="appearance_h2">Profile</h2>
        <div class="appearance_ctn">
            {{form_start(form)}}
                <div class="appearance_img_user">
                    <div class="app_img">
                        {% if app.user.getProfileImg %}
                            <img class="profile_img_user" src="/uploads/photos/{{ app.user.getProfileImg }}">
                        {% else %}
                            <img class="" src="">
                        {% endif %}
                    </div>
                    <div class="app_img_p">
                        {{ form_row(form.profile_img, {"attr":{"placeholder":img}, "label": false, "label_attr": {"hidden": true}})}}
                        {% if img is null %}
                            <a href="">You don't have profile image</a>
                        {% else %}
                            <a href="{{ path('appearanceDeleteImg', {pseudo: app.user.pseudo})}}"><p>Remove</p></a>
                        {% endif %}
                    </div>
                </div>

                {# <div class="background_img_app_prof">
                    <a href="{{path('usermodifbackground', {pseudo: app.user.pseudo})}}">Modify Theme</a>
                </div> #}
                
                
                <div class="textarea_appearance">
                    {{ form_row(form.description) }}
                </div>
                <input type="submit" class="sbt_app_btn">
            {{form_end(form)}}
        </div>

        <h2 class="appearance_h2">Background Profile</h2>
        <div class="appearance_ctn">
            <div class="appearance_img_user">
                <div class="app_back_img">
                    {% if app.user.getImageBack %}
                        <img class="profile_img_back_user" src="/assets/images/show/{{app.user.id}}/{{ app.user.getImageBack }}">
                    {% else %}
                        <img class="" src="">
                    {% endif %}
                </div>
            </div>
            {{form_start(form_back)}}
                <input type="submit" class="sbt_app_btn">
            {{form_end(form_back)}}
            <a href="{{path('deletebackground', {pseudo: app.user.pseudo})}}">Delete the Background</a>
        </div>

        <h2 class="appearance_h2">Pseudo theme Modification</h2>
        <div class="theme_ctn">
            <a href="{{ path('changetheme', {color: 'white'})}}">White</a>
            <a href="{{ path('changetheme', {color: 'Blue'})}}">Blue</a>
            <a href="{{ path('changetheme', {color: 'Black'})}}">Black</a>
            <a href="{{ path('changetheme', {color: 'Purple'})}}">Purple</a>
            <a href="{{ path('changetheme', {color: 'Green'})}}">Green</a>
        </div>
    </div>
    
    
{% endblock %}