{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
    <div class="div_container">
        <h2>Profile</h2>
        <div class="appearance_ctn">
            {{form_start(form)}}
                <div class="appearance_img_user">
                    <div class="app_img">
                        {% if app.user.getProfileImg %}
                            <img class="profile_img_user" src="/uploads/photos/{{ app.user.getProfileImg }}">
                        {% else %}
                            <img class="" src="">
                        {% endif %}
                    </div>
                    <div class="app_img_p">
                        {{ form_row(form.profile_img, {"attr":{"placeholder":img}})}}
                        {% if img is null %}
                            <a href="">You don't have profile image</a>
                        {% else %}
                            <a href="{{ path('appearanceDeleteImg', {pseudo: app.user.pseudo})}}"><p>Remove</p></a>
                        {% endif %}
                    </div>
                </div>

                <div class="background_img_app_prof">
                    <a href="{{path('usermodifbackground', {pseudo: app.user.pseudo})}}">Modify Theme</a>
                </div>
                
                
                <div class="textarea_appearance">
                    {{ form_row(form.description) }}
                </div>
                <input type="submit" class="sbt_app_btn">
            {{form_end(form)}}
        </div>
    </div>
    
    
{% endblock %}