{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<div class="example-wrapper div_container">
		<div class="idx_ctn_head">
			<div class="left_idx_head">
				<h2>Take youre personnal Link'z</h2>
				{% if app.user %}
					<a href="{{path('show', {pseudo: app.user.pseudo} )}}">Create it ></a>
				{% else %}
					<a href="{{path('app_register')}}">Create it ></a>
				{% endif %}
			</div>
			<div class="right_idx_head">
				<img src="{{ asset('assets/images/index/phoneprofile.PNG')}}" alt="">
			</div>
		</div>
		<div class="idx_ctn_deux_why">
			<div class="idx_why_head">
				<h2>Why use Link'Z ? </h2>
			</div>
			<div class="idx_why_ctn">
				<div class="idx_why_ctn_card">
					<div class="idx_why_card">
						<h3>Easy use</h3>
						<img src="{{ asset('assets/images/index/imgnewlink.PNG')}}" alt="">
					</div>
				</div>

				<div class="idx_why_ctn_card">
					<div class="idx_why_card">
						<h3>Transprency</h3>
						<img src="{{ asset('assets/images/index/imgnewlink.PNG')}}" alt="">
					</div>
				</div>

				<div class="idx_why_ctn_card">
					<div class="idx_why_card">
						<h3>Free</h3>
						<img src="{{ asset('assets/images/index/imgnewlink.PNG')}}" alt="">
					</div>
				</div>
			</div>
			
		</div>

		{# <div class="Link_div_ctn">
			{% if user is defined %}
				{% if app.user %}
					<a href="{{ path('show', {pseudo: app.user.pseudo}) }}">Your Profil</a>
				{% endif %}
			{% else %}
				<a href="{{ path('login') }}">Se connecter</a>
			{% endif %}
			<p>Bienvenue sur le site qui te permettra de partager tous tes liens vers tes divers réseaux sociaux N'hesites pas a partager le site et ta page a tes amis !</p>
		</div> #}

		<div class="abonnement_ctn">
			<div class="abo_idx_ctn">
				<div class="abo_idx_wth">
					<h2>Subscription :</h2>
					<div class="abo_wth">
						{% if app.user %}
							{% for sub in sub %}
								{% for subscriber in sub %}
									<div class="sub_abo">
										{% if subscriber.getProfileImg %}
										<img class="profile_img_user" src="/uploads/photos/{{ subscriber.getProfileImg }}">
										{% else %}
											<img class="img_empty" src="">
										{% endif %}
										<div class="sub_abo_idx">
											<a href="{{path('show', {pseudo: subscriber.pseudo})}}">
												<h2>{{ subscriber.pseudo }}
													{% if subscriber.certified == 1 %}
														<img class="logo_certified" src="{{ asset('assets/images/certified/certified_badge.png')}}" alt="certified logo">
													{% endif %}
												</h2>
											</a>
											{% if subscriber.description %}
												<p>{{ subscriber.description }}</p>
											{% endif %}
										</div>
										
										<p></p>
									</div>
								{% endfor %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="idx_abo_right">
					<div class="idx_abo_rgt_ctn">
						<h3>Follow many friend and stars !</h3>
						<p>Connect your TikTok, Instagram, Twitter, website, store, videos, music, podcast. It all seen by your follower and visitor !</p>
					</div>
				</div>
			</div>
		</div>
		<div class="form_contact">
			<div class="form_idx_ctn_wth">
				<div class="avis_p">
					<h3>Your opinion is important for us !</h3>
					<p>A question ? A joke ? if you have anything to say, its the place !</p>
					<i></i>
					<p>Link'z@gmail.com</p>
					<i></i>
					<p>twitter.com</p>
				</div>
				<form action="" class="form_idx_ctn">
					<div class="form_idx_div">
						<label for="">Your name</label>
						<input type="text">
					</div>
					<div class="form_idx_div">
						<label for="">Your email</label>
						<input type="text">
					</div>
					<div class="form_idx_ctn_qst">
						<label for="">Give me tips or question !</label>
						<input type="textarea">
					</div>
					<input type="submit" value="Send your message" class="idx_form_submit">
				</form>
			</div>
			
		</div>
	</div>
{% endblock %}
