{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('assets/script.js') }}" defer></script>
	<script src="{{ asset('assets/js/show.js') }}" defer></script>
{% endblock %}

{% block body %}
	<div class="example-wrapper div_container">
		<div class="show_header">
			<div class="head_show_h">
				<a href="{{ path('show', {pseudo: user_main[0].pseudo}) }}">
					{% if user_main[0].getProfileImg %}
						<img class="profile_img_user" src="/uploads/photos/{{ user_main[0].getProfileImg }}">
						<h1>{{ user_main[0].pseudo }}
						{% if user_main[0].certified == 1 %}
							<img class="logo_certified" src="{{ asset('assets/images/certified/certified_badge.png')}}" alt="certified logo">
						{% endif %}
						</h1>
					{% else %}
						<h1>{{ user_main[0].pseudo }}
							{% if user_main[0].certified == 1 %}
								<img class="logo_certified" src="{{ asset('assets/images/certified/certified_badge.png')}}" alt="certified logo">
							{% endif %}
						</h1>
					{% endif %}
				</a>
			</div>
			{% if app.user.id != user_main[0].id %}
				{% if abo is null %}
					<span class="subscription">
						<a href="{{path('subscription', {showuser: user_main[0].id } )}}">Subscibe</a>
					</span>
				{% else %}
					<span class="unsubscription">
						<a href="{{path('unsubscription', {showuser: user_main[0].id } )}}">Unsubscribe</a>
					</span>
				{% endif %}
			{% endif %}
		</div>
		<div class="profile_show_desc">
			{% if user_main[0].description != null and app.user.id == user_main[0].id %}
				<p class="desc_show_p">{{ user_main[0].description }}</p>
			{% endif %}
		</div>
		<div class="Link_div_ctn">
			{% if app.user %}
				{% if app.user.id == user_main[0].id %}
					<div class="add_links">
						<a href="{{ path('edit', {id: user_main[0].id}) }}"><p>+ Add Links</p></a>
					</div>
				{% endif %}
			{% endif %}
			{% if links is defined  %}
				{% for link in links %}
					{% if link.isActived == 1 %}
						<div class="d-flex text-light align-item-center div_links">
							<p class="pe-5 p_links">{{ link.title }}</p>
							<a href="{{ link.link }}" target="_blank" class="box-txt">{{ link.link }}</a>
							<button class="btn-copy m-2 p-3" onclick="clickCopy(event)">
								<i class="fas fa-copy">Copy</i>
							</button>
						</div>
					{% else %}
						{% if app.user.id == user_main[0].id %}
							<div class="d-flex text-light align-item-center div_links">
								<p class="pe-5 p_links">{{ link.title }}</p>
								<a href="{{ link.link }}" target="_blank" class="box-txt">{{ link.link }}</a>
								<button class="btn-copy m-2 p-3" onclick="clickCopy(event)">
									<i class="fas fa-copy">Copy</i>
								</button>
								<a href="" class="btn_prf_edit"><img src="{{ asset('assets/images/show/edit.png')}}"></a>
							</div>
						{% endif %}
					{% endif %}
					
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}
