{% extends 'base.html.twig' %}

{% block title %}Modification Account
{% endblock %}

{% block body %}
    <div class="div_container">
        <div class="modifaccount_ctn">
            {% if message != '' %}
                {% if message.state == 'errorPassword' %}
                    <p>{{ message.error }}</p>
                {% endif %}
            {% endif %}
            <h1>Account informations :</h1>
            {{form_start(form)}}
            {{form_row(form.plainPassword)}}
            {{form_row(form.verifypassword)}}
            {% if message != '' %}
                {% if message.state == 'errorPasswordRepeat' %}
                    <p>{{ message.error }}</p>
                {% endif %}
            {% endif %}
            <button type="submit">Valider</button>
            {{form_end(form)}}
        </div>
    </div>
{% endblock %}