{% extends 'base.html.twig' %}

{% block title %}Settings
{% endblock %}

{% block body %}
    <div class="div_container">
        <div class="settings_ctn">
            <div class="btn_sett_wdt">
                <a class ="sett_a" href="{{ path('usermodifaccount', {pseudo: app.user.pseudo}) }}">Account</a>
                <a class ="sett_a" href="{{ path('usersettings', {pseudo: app.user.pseudo}) }}">Profile</a>
            </div>
            <div class="subscribe_parameter_ctn">
                <h2>Let visitors subscribe</h2>
                <div class="head_sub_param">
                    <p>Add a button for your visitor can follow you</p>
                    {% if user.isSubscribeAccept == true %}
                        <a href="{{ path('userunsubscribe', {pseudo: app.user.pseudo})}}">Refused</a>
                    {% else %}
                        <a href="{{ path('userunsubscribe', {pseudo: app.user.pseudo})}}">Accept</a>
                    {% endif %}
                </div>
                
            </div>
            <div class="activated_links">
                <div class="head_links_settings">
                    <h2>Your links</h2>
                </div>
                {% for links in links %}
                    <div class="links_user_stg">
                        <div class="links_ctn_mne prem_title_links">
                            {% if links.title != null %}
                            <p>{{ links.title }}</p>
                            {% else %}
                                <p>{{ links.link }}</p>
                            {% endif %}
                        </div>
                        <div class="links_ctn_mne btn_links_stt">
                            {% if links.isActived == true %}
                                <a href="{{ path('activedlinks', {link: links.id})}}">Desactived</a>
                            {% else %}
                                <a href="{{ path('activedlinks', {link: links.id})}}">Actived</a>
                            {% endif %}
                        </div>
                        <div class="links_ctn_mne btn_links_stt">
                            <a class="delete_button" href="{{path('deletelink', {link: links.id})}}">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="social_links">
                <div class="social_links_wtn">
                    <h2>Réseaux sociaux</h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}